name: Deploy Multiple NeuroPi APIs

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "8.x"

    - name: Restore Solution
      run: dotnet restore NeuroPi.UserManagment.sln

    - name: Build Solution
      run: dotnet build NeuroPi.UserManagment.sln -c Release

    ###########################################################
    # PUBLISH EACH API TO ITS OWN FOLDER
    ###########################################################

    - name: Publish UserManagement API
      run: dotnet publish NeuroPi.UserManagment/NeuroPi.UserManagment.csproj -c Release -o publish/usermanagement

    - name: Publish SchoolManagement API
      run: dotnet publish SchoolManagement/SchoolManagement.csproj -c Release -o publish/school

    - name: Publish Nutrition API
      run: dotnet publish NeuroPi.Nutrition/NeuroPi.Nutrition.csproj -c Release -o publish/nutrition

    ###########################################################
    # LOGIN TO AZURE
    ###########################################################
    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6570E66EC57D43EA89AFEC1CC41B7EEE }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1E8AAFD9DDBF49338F1F292EF08588A2 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_99DCF1DCB22E4F1282EB0E82C6D97D36 }}

    ###########################################################
    # DEPLOY EACH API INTO ITS VIRTUAL FOLDER
    ###########################################################

    - name: Deploy UserManagement API
      uses: azure/webapps-deploy@v3
      with:
        app-name: "NeuroPi"
        slot-name: "Production"
        package: publish/usermanagement
        remote-path: "/usermanagement"

    - name: Deploy SchoolManagement API
      uses: azure/webapps-deploy@v3
      with:
        app-name: "NeuroPi"
        slot-name: "Production"
        package: publish/school
        remote-path: "/school"

    - name: Deploy Nutrition API
      uses: azure/webapps-deploy@v3
      with:
        app-name: "NeuroPi"
        slot-name: "Production"
        package: publish/nutrition
        remote-path: "/nutrition"
